.content-section
  .content
    %h1.centered HOW DO WE APPROACH TEACHING LEARNING? 
    %h3.centered.short In schools, students are expected to learn, yet, it seems, we have forgotten to teach them how to. At the Academy we teach what may be the most important skill the of the human mind that was never taught -- how to learn.
  
.content-section
  .content
    %h2.centered WHY ITS EFFECTIVE?

    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit eros mauris. Sed sit amet rutrum nibh, ac vulputate leo. Ut dignissim mollis eros vel gravida. Quisque et venenatis nulla, accumsan porta tellus. Aliquam at ligula in nulla sodales convallis non sed felis. Donec imperdiet neque vel quam eleifend fermentum. Nulla ultricies mollis ante a ultricies. Etiam vel varius arcu. Aliquam in rutrum augue. Fusce molestie porttitor tellus, sed aliquet lacus. Cras dapibus tortor at lacinia ultrices. Mauris posuere finibus elit vel varius. Ut dui arcu, blandit vitae semper vitae, tincidunt scelerisque felis.

    .centered
      %button This Is Our Service

.content-section
  .content
    %h2.centered WHY IS IT VALUABLE AND WHAT IS THE PRICE?
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla hendrerit eros mauris. Sed sit amet rutrum nibh, ac vulputate leo. Ut dignissim mollis eros vel gravida. Quisque et venenatis nulla, accumsan porta tellus. Aliquam at ligula in nulla sodales convallis non sed felis. Donec imperdiet neque vel quam eleifend fermentum. Nulla ultricies mollis ante a ultricies. Etiam vel varius arcu. Aliquam in rutrum augue. Fusce molestie porttitor tellus, sed aliquet lacus. Cras dapibus tortor at lacinia ultrices. Mauris posuere finibus elit vel varius. Ut dui arcu, blandit vitae semper vitae, tincidunt scelerisque felis.
    
    .centered
      %button Learn More About Our Mission