
.content-section.thank-you
  %h1.title.centered.white THANK YOU #{notice}
  %p.hook.centered.short.white Thank you for your interest! We will contact you within 24 hours.
  .call-to-action.centered
    = link_to 'OUR VISION OF EDUCATION', mission_path, class: 'button white'
    = link_to 'BACK', mission_path, class: 'button white'